[Auth]
mail = 
password = 
user_agent = 
app_key = 

[API]
user_api_url = https://api.fshare.vn/api/user
file_dl_api_url = https://api.fshare.vn/api/session/download

[Login]
session_id = 
token = 

[Drive]
gdrive = 0
onedrive = 0
folder_id = 
onedrive_folder_path = /Fshare/24_11
rclone_remote_name = odd
path_to_gdrive = /usr/bin/gdrive
